@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', 'Noto Sans Devanagari', sans-serif;
  }
}

.font-arabic {
  font-family: 'Noto Naskh Arabic', 'Amiri', serif;
}

.font-hindi {
  font-family: 'Noto Sans Devanagari', sans-serif;
}
